    .btn-rounded {
        border-radius: 5px !important;
        padding-left: 20px;
        padding-right: 20px;
        transition: 0.3s ease;
    }
    .btn-success:hover {
        background-color: #218838 !important;
        transform: scale(1.05);
    }

    .btn-primary:hover {
        background-color: #0056b3 !important;
        transform: scale(1.05);
    }

    .btn-danger:hover {
        background-color: #c82333 !important;
        transform: scale(1.05);
    }